@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.main-body {
  background-color: #EEEEEE;
  margin: 20px 10px;
  text-align: center;
}

h1 {
  margin: 20px 0;
  font-size: 40px;
}

p {
  font-size: 18px;
}

.img-sec {
  background-color: #ffffff;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: auto;
}

#image{
    width: 100%;
    height: auto;
    max-width: 100%;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ul {
  width: 50%;
  font-size: 18px;
  text-align: justify;
}

li {
  padding: 10px 0;
}

blockquote {
  width: 100%
}

.last {
  width: 50%;
  text-align: left;
  font-size: 18px;
}

.em {
  margin-top: 5px;
}

a {
  color: #065666;
}